<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/users/user.js' %}"></script>
    <title>User Profile</title>
</head>
<body>
    <div class="wrapper">
        <div class="flex-row">
            <div class="flex-box header">
                <h3>Welcome, {{ user_first_name }}!</h3>
                <ul class="navbar">
                    <li><a href="./logout/">Log Out</a></li>
                </ul>
            </div>
        </div>
        {% if messages %}
        <div class="flex-row">
            <div class="flex-box" id="messages_div">
                <ul id="messages_list">
                    {% for msg in messages %}
                    <li{% if msg.tags %} class="{{ msg.tags }}"{% endif %}>{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="flex-row">
            <div class="flex-box" id="user_info">
                <h2>{{ username }}</h2>
                <p>{{ user_first_name }} {{ user_last_name }}</p>
                <p>{{ user_email }}</p>
                <ul id="user_stats">
                    <li>Credit Balance: {{ user_credit_balance }}</li>
                    <li>Games Played: {{ user_games_played }}</li>
                    <li>Credits Played: {{ user_credits_played }}</li>
                    <li>Credits Won: {{ user_credits_won }}</li>
                </ul>
                <p><a href="./edit/">Edit User Info</a></p>
            </div>
        </div>
        <hr>
        <div class="flex-row">
            <div class="flex-box" id="add_credit_div">
                <h3>Add Credits To Balance - 100 Max</h3>
                <form action="./add_credit/" method="POST" id="add_credit_form">
                    {% csrf_token %}
                    <input type="number" min="1" max="100" name="credits" id="credits">
                    <button type="submit" id="submit_credits">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>